/* new */
:root{
    --scrollWidth: 10px;
}

::-webkit-scrollbar {
    width: var(--scrollWidth) !important;
    height: var(--scrollWidth) !important;
}
::-webkit-scrollbar-button {
    width: 0 !important;
    height: 0 !important;
}
::-webkit-scrollbar-button:start:increment,
::-webkit-scrollbar-button:end:decrement {
    display: none !important;
}
::-webkit-scrollbar-corner {
    display: block !important;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 8px !important;
    border-right: 1px solid transparent !important;
    border-left: 1px solid transparent !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.2);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255,255,255,0.3);
}
::-webkit-scrollbar-track:hover {
    background-color: rgba(255,255,255,0.08) !important;
}

body{
    overflow: hidden !important;
    -webkit-user-select: none;
}

.masthead.clearfix {
    top: 40px;
    width: 100%;
    height: 40px;
    margin: 0px;
    padding: 0 70px;
}

.masthead.clearfix .inner{
    padding:  0 10px;
}

.masthead.clearfix .inner img{
    height: 40px;
    width: 40px;
}

.masthead.clearfix .masthead-brand{
    height:  40px;
    line-height: 40px;
    margin: 0;
}

.masthead.clearfix{
    -webkit-app-region: drag;
}

.masthead.clearfix a{
    -webkit-app-region: no-drag;
}

.m-playbar .ctrl{
    width: 138px !important;
}
.m-playbar a.icn-download{
    background: url(../src/download.png) no-repeat 0 0;
    background-size: 21px;
    margin-top: 12px;
    opacity: .7;
}

.m-playbar a.icn-download:hover{
    opacity: 1;
}